<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Items</h1>
<table>
  <thead>
  </thead>
  <tbody>
    <tr data-th-each="item : ${items}">
      <td>
        <a data-th-href="@{/items/{itemId}(itemId=${item.id})}" th:text="${item.name}"></a>
      </td>
      <td th:text="${item.location.address.addressStr}"></td>
      <td th:text="${item.user.name + ' ' + item.user.lastname}"></td>
      <td data-th-text="${item.description}"></td>
    </tr>
  </tbody>
</table>
</body>
</html>